@import "tailwindcss";

@theme {
    --font-family: 'Outfit', sans-serif;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Untuk scroll container */
*::-webkit-scrollbar {
  width: 0px; /* Lebar scrollbar */
  height: 0px; /* Lebar scrollbar horizontal */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Background track yang transparan */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Warna scrollbar */
  border-radius: 10px; /* Membuat sudut melengkung */
  border: 3px solid transparent; /* Membuat border transparan */
  background-clip: content-box; /* Mengatur background scrollbar */
}

/* Scrollbar saat hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Warna scrollbar saat hover */
}
